GOOGLE_CLOUD_PROJECT=leova-xxxxxx
VERTEX_LOCATION=europe-west1
VERTEX_TEXT_MODEL=gemini-2.5-flash-lite
APP_SECRET=change-moi-secret-dev
ALLOWED_ORIGINS=https://localhost,capacitor://localhost,http://localhost,https://pleymort.github.io
